{{ define "main" }}
<div class="single-container">
    <div class="archive">
        <h1 class="title is-1">{{ .Title }}</h1>
        <div class="title subtitle heading is-6">
            <div class="author-info columns is-vcentered">
                <div class="column">
                    <div class="columns is-vcentered is-mobile">
                        {{ with .Site.Params.authorImage }}
                        <div class="column is-narrow">
                            <img src="{{ . }}" class="author-image">
                        </div>
                        {{ end }}
                        <div class="column" >
                            <p>{{ .Site.Params.Author }}</p>
                            <p><time>{{ .PublishDate.Format "January 2, 2006" }}</time>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="small-categories-container">
                    {{ range $idx, $category := .Params.categories }}
                    {{- if ne $idx 0 }}, {{ end }}<a
                        href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
                    {{- end }}
                </div>
            </div>
        </div>
        <div class="content artical-content">
            <div class="toc-container">
                {{ partial "toc.html" . }}
                </div>
            {{ .Content }}
        </div>
    </div>
    <div class="pp-container">
        <section class="pre-and-post">
                        <div class="has-text-left">
                            {{ with .PrevInSection }}
                            <p>Previous post</p>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                            {{ end }}
                        </div>
                        <div class="has-text-right">
                            {{ with .NextInSection }}
                            <p>Next post</p>
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                            {{ end }}
                        </div>
        </section>
    </div>
</div>
{{ end }}